/*
    Don't use this file to edit your site style! Create a different CSS file for that.
    This file defines how custom elements (like sitebox) will look like.
    Setting CSS that breaks main nekoweb site on purpose is prohibited and may result in ban and site deletion!
*/

/* Must start with ".site-box". Change how your website will appear on main nekoweb site: https://lune.dimden.dev/405a44b7e5.png */
.site-box {
    background-color: #05001d;
    background-image: none;
    background-repeat: no-repeat;
    border: dashed #e80022 3px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace
}

.site-box .sitefeature {
    background: center no-repeat url('https://perpcurio.nekoweb.org/img/art/cult_moon_cat_small.png');
    border: none;
}

.site-box .sitefeature img {
    display: none;
}
.site-box > a > p {
    color: #691086;
}

.site-box .follow {
    display: inline;
    color: #e80022;
}

.site-box span {
    display: none;
}

/* Style for your 'Follow on Nekoweb' button (<iframe src="https://nekoweb.org/frame/follow" frameborder="0" width="170" height="28"></iframe>) */
.follow {
    background-color: #05001d;
    border: 3px dashed #e80022;
    color: #e80022;
}

/* Style for your post box (must start with ".post-box") */
.post-box {
    background-color: #05001d;
    border: 3px dashed #691086;
    color: #e80022;
    font-family: Courier;
    padding: 15px;
}

.post-box .post-title {
    font-family: Courier;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0px;
}
