/*
  color palette:
  #6200E0
  #04e798
  #E10064
  #9BA2FF
  #FBFBFF
  #0a100d

  Extras
  #dcccff
*/

body {
  --dark: #6200E0;
  --glow: #04e798;
  --accent: #E10064;
  --light: #9BA2FF;
  --lightest: #FBFBFF;
  --darkest: #0a100d;

  background-color: var(--darkest);
  color: var(--light);
  font-family: Courier;
  padding: 3em;
  padding-top: 0;
}

header, footer {
  border: 8px;
  border-color: var(--dark);
  border-style: dotted;
  text-align: center;
}

header a {
  color: var(--glow);
}

#flex_container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  margin: 1em 0;
}

#flex_container h2 {
  border: 3px;
  border-color: var(--glow);
  border-radius: 18px;
  border-style: outset;
  padding: .5em;
  text-align: center;
}

footer, #flex_container nav, #flex_container main, #flex_container aside {
  border: 6px;
  border-color: var(--dark);
  border-style: dotted;
  padding: 1em;
}

main {
  flex-grow: 2;
}

#introduction {
  align-items: flex-start;
  padding: .5em;
}

#introduction figure {
  margin-left: 0;
}

#sections {
  display: flex;
  justify-content: space-evenly;
}

footer {
  text-align: center;
}

/* Global element styles */
a {
  color: var(--accent);
  text-decoration: none;
}

/* Increase weight on header text since monospace is a cute lil baby. */
h1, h2, h3, h4, h5, h6 {
  color: var(--glow);
  border-color: var(--glow);
  font-weight: 600;
}

ul { padding-left: 20px; }
