/*
  color palette:
  #6200E0
  #04e798
  #E10064
  #9BA2FF
  #FBFBFF
  #0a100d

  Extras
  #dcccff
*/

body {
  background-color: #0a100d;
  color: #9BA2FF;
  font-family: Courier;
  padding: 3em;
  padding-top: 0;
}

header, footer {
  border: 8px;
  border-color: #6200E0;
  border-style: dotted;
  text-align: center;
}

header a {
  color: #04e798;
}

#flex_container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  margin: 1em 0;
}

#flex_container h2 {
  border: 3px;
  border-color: #04e798;
  border-radius: 18px;
  border-style: outset;
  padding: .5em;
  text-align: center;
}

footer, #flex_container nav, #flex_container main, #flex_container aside {
  border: 6px;
  border-color: #6200E0;
  border-style: dotted;
  padding: 1em;
}

main {
  flex-grow: 2;
}

#introduction {
  align-items: flex-start;
  padding: .5em;
}

#introduction figure {
  margin-left: 0;
}

#sections {
  display: flex;
  justify-content: space-evenly;
}

footer {
  text-align: center;
}

/* Global element styles */
a {
  color: #E10064;
  text-decoration: none;
}

/* Increase weight on header text since monospace is a cute lil baby. */
h1, h2, h3, h4, h5, h6 {
  color: #04e798;
  border-color: #04e798;
  font-weight: 600;
}

ul { padding-left: 20px; }
