/* pink: ff2ab2 */
body {
  background-color: #691086;
  color: #e00000;
  font-family: Courier;
  font-weight: 600;
  padding: 3em;
  padding-top: 0;
}

header {
  background-color: #05001d;
  border: 3px;
  border-style: dashed;
  text-align: center;
}

header a {
  color: #e00000;
}

#flex_container {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: space-around;
  margin: 1em 0;
}

#flex_container h2 {
  background-color: #05001d;
  border: 3px;
  border-style: dashed;
  padding: .5em;
  text-align: center;
}

footer, #flex_container nav, #flex_container main, #flex_container aside {
  background-color: #05001d;
  border: 3px;
  border-color: #e00000;
  border-style: dashed;
  padding: 1em;
}

main {
  flex-grow: 2;
}

#introduction {
  align-items: flex-start;
  padding: .5em;
}

#introduction figure {
  margin-left: 0;
}

#sections {
  display: flex;
  justify-content: space-evenly;
}

footer {
  text-align: center;
}

/* Global element styles */
a {
  color: #9a12b3;
  text-decoration: none;
}

ul { padding-left: 20px; }
